<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>[eSGBU] Confirmation de modification d'adresse mail</title>
    </head>

    <body>
    <h1>Bonjour {{ userName }},</h1>
    <p>Pour valider votre nouvelle adresse mail pour eSGBU, veuillez cliquer sur le lien suivant :
    </p>
    <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
    <p>Le lien restera actif 24 heures.</p>
    </body>
</html>
